@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.icons svg {
  width: 50px;
  height: 50px;
}

.icons {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

#sun {
  fill: white;
}

#moon {
  display: none;
}

body {
  gap: 30px;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: center;
  display: flex;
  height: 100vh;
}

@keyframes pisca {
  0% {
    background-color: black;
  }
  10% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 10%,
      rgba(0, 0, 0, 1) 10%
    );
  }
  15% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 15%,
      rgba(0, 0, 0, 1) 15%
    );
  }
  20% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(0, 0, 0, 1) 20%
    );
  }
  25% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 25%,
      rgba(0, 0, 0, 1) 25%
    );
  }
  30% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 30%,
      rgba(0, 0, 0, 1) 30%
    );
  }
  35% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 35%,
      rgba(0, 0, 0, 1) 35%
    );
  }
  40% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(0, 0, 0, 1) 40%
    );
  }
  45% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 45%,
      rgba(0, 0, 0, 1) 45%
    );
  }
  50% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 0, 1) 50%
    );
  }
  55% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 55%,
      rgba(0, 0, 0, 1) 55%
    );
  }
  60% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 60%,
      rgba(0, 0, 0, 1) 60%
    );
  }
  65% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 65%,
      rgba(0, 0, 0, 1) 65%
    );
  }
  70% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 70%,
      rgba(0, 0, 0, 1) 70%
    );
  }
  75% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 75%,
      rgba(0, 0, 0, 1) 75%
    );
  }
  80% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 80%,
      rgba(0, 0, 0, 1) 80%
    );
  }
  85% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 85%,
      rgba(0, 0, 0, 1) 85%
    );
  }
  90% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 90%,
      rgba(0, 0, 0, 1) 90%
    );
  }
  95% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 95%,
      rgba(0, 0, 0, 1) 95%
    );
  }
  100% {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@keyframes pisca-reverse {
  0% {
    background-color: white;
  }
  10% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(255, 255, 255, 1) 10%
    );
  }
  15% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 15%,
      rgba(255, 255, 255, 1) 15%
    );
  }
  20% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(255, 255, 255, 1) 20%
    );
  }
  25% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(255, 255, 255, 1) 25%
    );
  }
  30% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 30%,
      rgba(255, 255, 255, 1) 30%
    );
  }
  35% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 35%,
      rgba(255, 255, 255, 1) 35%
    );
  }
  40% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(255, 255, 255, 1) 40%
    );
  }
  45% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 45%,
      rgba(255, 255, 255, 1) 45%
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 255, 255, 1) 50%
    );
  }
  55% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 55%,
      rgba(255, 255, 255, 1) 55%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 60%,
      rgba(255, 255, 255, 1) 60%
    );
  }
  65% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 65%,
      rgba(255, 255, 255, 1) 65%
    );
  }
  70% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 70%,
      rgba(255, 255, 255, 1) 70%
    );
  }
  75% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 75%,
      rgba(255, 255, 255, 1) 75%
    );
  }
  80% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 80%,
      rgba(255, 255, 255, 1) 80%
    );
  }
  85% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 85%,
      rgba(255, 255, 255, 1) 85%
    );
  }
  90% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 90%,
      rgba(255, 255, 255, 1) 90%
    );
  }
  95% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 95%,
      rgba(255, 255, 255, 1) 95%
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 100%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.dark {
  animation: 0.2s pisca-reverse forwards;
}

.light {
  animation: 0.2s pisca forwards;
}

.bg-hover-b {
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
}

.bg-hover-b:hover {
  background-color: rgba(255, 255, 255, 0.178);
}

.bg-hover-w {
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
}

.bg-hover-w:hover {
  background-color: rgba(0, 0, 0, 0.178);
}

.span {
  transition: 0.3s;
  height: 200px;
  width: 200px;
  font-size: 300px;
  fill: white;
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

.life {
  transition: 0.3s;
  user-select: none;
  font-size: 3rem;
  font-weight: 200;
  gap: 12px;
  display: flex;
  color: white;
  font-family: "Inter", sans-serif;
}

.top {
  gap: 30px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  height: 80vh;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.black {
  fill: black;
}

.tt,
.github,
.lin {
  cursor: pointer;
  transition: 0.3s;
  fill: white;
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.178);
}


.h-g{
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
}

.h-g:hover{
  background-color: rgba(0, 0, 0, 0.178);
}

.h-tt:hover{
    background-color: rgba(0, 0, 0, 0.178);
}

/* .tt:hover,
.github:hover,
.lin:hover {
  transform: scale(0.9);
} */

@media (max-width: 600px) {
   body{
    justify-content: flex-start;
    overflow: hidden;
   }

  .life {
    font-size: 1.5rem;
  }

  .main{
    height: 80vh;
  }


  .social{
    gap: 15px;
  }

}
